/**
* GLOBAL
*/

body {
    background-color: white !important;
}

.container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    min-width: 80% !important;
}

.footer1 {
    margin-top: 100px;
    color: gray;
    text-align: center;
    font-size: 12px;
}

.height-30 {
    display: block;
    height: 15px;
}

/* Loading bar */
#loading-bar .bar {
  background: darkred !important;
}

/**
* LOGIN
**/

.login-panel {
    margin-top: 10px !important;
}

/**
* CONTROLLER
*/
.sort-by {
    text-align: right !important;
    float: right !important;
}

.page-pagination {
    float: right !important;
    text-align: right !important;
}

td {
    vertical-align: middle !important;
    padding-top: 9px !important;
    padding-bottom: 8px !important;
}

.col-id {
    width: 40px !important;
    text-align: center !important;
}

.action-right {
    display: block !important;
    float: right !important;
}

.center-text {
    text-align: center !important;
}

select {
    padding: 1px 1px 1px 1px;
}

/**
* FIXS
**/
td .label {
    display: inline-block !important;
    position: relative;
    top: -2px;
}