/**
* GLOBAL
*/

body {
    background-color: white !important;
}

.container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    min-width: 80% !important;
}

.footer1 {
    margin-top: 100px;
    color: gray;
    text-align: center;
    font-size: 12px;
}

/* Loading bar */
#loading-bar .bar {
  background: darkred !important;
}

/**
* LOGIN
**/

.login-panel {
    margin-top: 10px !important;
}

/**
* CONTROLLER
*/
.sort-by {
    text-align: right !important;
    float: right !important;
}

.page-pagination {
    float: right !important;
    text-align: right !important;
}