<div class="panel panel-info">
    <div class="panel-heading"><b>ALL USERS</b></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-id">ID</th>
                <th style="width: 60px;" class="center-text">Usergroup</th>
                <th>Username</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="user in controller.tableData">
                <td class="col-id">{{ user.userId }}</td>
                <td class="center-text"><span class="label label-{{ (user.usergroup == '1') ? 'danger' : (user.usergroup == '3') ? 'info' : '' }}">{{ (user.usergroup == '1') ? 'admin' : (user.usergroup == '3') ? 'user' : '' }}</span></td>
                <td>
                    {{ user.username }}

                    <div ng-include="'editAction.html'" class="action-right"></div>    
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="editAction.html">
    <a ng-href="#!/users/{{ user.userId }}" class="btn btn-xs btn-warning">
        <i class="fa fa-pencil"></i>
    </a>

    <a ng-dblclick="controller.deleteData(user.userId)" class="btn btn-xs btn-danger" uib-tooltip="Double click to delete this item." tooltip-placement="left">
        <i class="fa fa-trash-o"></i>
    </a>
</script>